<!-- @format -->

<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
	<div class="col-8 offset-2"
		><br />
		<h1>Create a New Listing</h1><br />
		<form
			method="POST"
			action="/listings"
			novalidate
			class="needs-validation"
			enctype="multipart/form-data">
			<div class="mb-3">
				<label
					for="title"
					class="form-label"
					>Title</label
				>
				<input
					name="listing[title]"
					type="text"
					class="form-control"
					placeholder="Enter a catchy title"
					required />
				<div class="valid-feedback"> Looks good! </div>
				<div class="invalid-feedback"> Required title! </div>
			</div>

			<div class="mb-3">
				<label
					for="description"
					class="form-label"
					>Description</label
				>
				<textarea
					name="listing[description]"
					class="form-control"
					required>
				</textarea>
				<div class="invalid-feedback"> please enter a valid description </div>
			</div>

			<div class="mb-3">
				<label
					for="image"
					class="form-label"
					>Upload Image</label
				>
				<input
					name="listing[image]"
					type="file"
					class="form-control"
					required />
				<div class="valid-feedback"> Perfect! </div>
				<div class="invalid-feedback"> Image is neccessary! </div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="mb-3">
						<label
							for="price"
							class="form-label"
							>Price</label
						>
						<input
							name="listing[price]"
							class="form-control"
							placeholder="Enter price"
							required />
						<div class="invalid-feedback"> price Should be required </div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="mb-3">
						<label
							for="country"
							class="form-label"
							>Country</label
						>
						<input
							name="listing[country]"
							type="text"
							class="form-control"
							placeholder="Enter country"
							required />
						<div class="invalid-feedback"> country Should be required </div>
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label
					for="location"
					class="form-label"
					>Location</label
				>
				<input
					name="listing[location]"
					class="form-control"
					type="text"
					placeholder="Enter location"
					required />
				<div class="invalid-feedback"> location Should be required </div> </div
			><br />
			<button class="btn btn-dark add-btn"> Add </button>
		</form>
	</div>
</div>
