<% layout("/layouts/boilerplate.ejs")  -%>

<div class="row">
  <div class="col-6 offset-3"><br>
    <h2>Sign up On Wanderlust!</h2><br>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="label-form">Username</label>
        <input type="text" name="username" class="form-control" required placeholder="Enter Username">
        <div class="invalid-feedback">Required </div>
      </div>

      <div class="mb-3">
        <label for="email" class="label-form">E-mail</label>
        <input type="email" name="email" class="form-control" required placeholder="Enter email">
        <div class="invalid-feedback">Required </div>
      </div>

      <div class="mb-3">
        <label for="password" class="label-form">Password</label>
        <input type="password" name="password" class="form-control" required placeholder="Enter Strong Password">
        <div class="invalid-feedback">Required </div>
      </div>
      <button class="btn btn-dark">SignUp</button>
    </form>
  </div>
</div> 
    
        